@import "../index.scss";

/* ====== BODY ====== */
body {
  background-color: #121214;
  color: #ffffff;

  * {
    font-family: "Open Sans", sans-serif;
  }
}

/* ====== VARIABLES ====== */
$bgIconColor: #633bbc;
$iconColor: #ffffff;

/* ====== LAYOUT ====== */
#app {
  height: 100vh;
  text-align: center;

  display: flex;
  flex-direction: column;

  h1 {
    margin-top: 28px;
  }

  ul {
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 16px;
    padding-inline: 52px;
    flex: 1;
    flex-wrap: wrap;

    li {
      width: 60px;
      height: 60px;

      display: flex;
      align-items: center;
      justify-content: center;

      border-radius: 12px;
      background-color: $bgIconColor;
      transition: transform 0.4s ease-out;

      &:hover {
        transform: translateY(-8px);
      }

      a {
        font-size: 3.25rem;
        color: $iconColor;
      }
    }
  }
}
